<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Review</title>
    <Link rel="stylesheet" href="/style.css"></Link>
</head>
<body>
    <header>
        <img class="read" src="/images/read.png" alt="read">
        <div class="title">
            <h1 style="color: #C90707;">REV</h1>
            <h1>BOOK</h1>
        </div>
        <div class="about">
            <p>Welcome to REVBOOK. Here you can saved  book that you had read
                in your list. You can also give your review about the book.
                Enjoy📖😊
            </p>
        </div>
        <% if (id_reader == null) { %>
            <div class="direction">
                <div class="direct signup">
                    <a href="/signup">Sign Up</a>
                </div>
                <div class="direct login">
                    <a href="/login">Log In</a>
                </div>
            </div>
        <% } %>        
    </header>
    <main>
        <div class="books">
            <% if (books.length > 0) { %>
                <% for (let index = 0; index < books.length; index++) { %>
                    <div class="book">
                        <img src="<%= books[index].src %>" alt="book" width="300px" height="300px">
                        <h1><%= books[index].title %></h1>
                        <form class="add-to-list-form" style="position: absolute;" action="/addlist" method="post">
                            <input type="text" name="id_book" hidden value=<%= books[index].id_book %>>
                            <button type="submit" class="icon-button">
                                <svg width="24px" height="24px" viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M8 28H24" stroke="currentColor" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M8 37H24" stroke="currentColor" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M8 19H40" stroke="currentColor" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M8 10H40" stroke="currentColor" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M30 33H40" stroke="currentColor" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M35 28L35 38" stroke="currentColor" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            </button>
                        </form>
                    </div>
                <% } %>
            <% } else { %>
                <p>No books available</p>
            <% } %>
        </div>        
    </main>
</body>
</html>