<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Review</title>
    <Link rel="stylesheet" href="/style.css"></Link>
</head>
<body>
    <header>
        <img class="read" src="/images/read.png" alt="read">
        <div class="title">
            <h1 style="color: #C90707;">REV</h1>
            <h1>BOOK</h1>
        </div>
        <div class="about">
            <p>Welcome to REVBOOK. Here you can saved  book that you had read
                in your list. You can also give your review about the book.
                Enjoy📖😊
            </p>
        </div>
        <% if (id_reader==null) { %>
            <div class="direction">
                <div class="direct signup">
                    <a href="/signup">Sign Up</a>
                </div>
                <div class="direct login">
                    <a href="/login">Log In</a>
                </div>
            </div>
        <% } %>        
    </header>
    <main>
        <div class="books">
            <% if (books.length > 0) { %>
                <% for (let index = 0; index < books.length; index++) { %>
                    <div class="book">
                        <img src="<%= books[index].src %>" alt="book" width="300px" height="300px">
                        <h1><%= books[index].title %></h1>
                        <p hidden><%= books[index].id_book %></p>
                    </div>
                <% } %>
            <% } else { %>
                <p>No books available</p>
            <% } %>
        </div>        
    </main>
</body>
</html>