<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Review</title>
    <Link rel="stylesheet" href="/style.css"></Link>
</head>
<body>
    <header>
        <img class="read" src="/images/read.png" alt="read">
        <div class="title">
            <h1 style="color: #C90707;">REV</h1>
            <h1>BOOK</h1>
        </div>
        <div class="about">
            <p>Welcome to REVBOOK. Here you can saved  book that you had read
                in your list. You can also give your review about the book.
                Enjoy📖😊
            </p>
        </div>
    </header>
    <main></main>
</body>
</html>