<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sign up</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <img class="read-form" src="/images/read.png" width="200px" alt="">
    <main class="form">
        <form class="form-user" action="/signup" method="post">
            <label for="username">Username:</label>
            <input type="text" name="username" id="username" placeholder="Your username">
            
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" placeholder="Your password">
            
            <input type="submit" value="Sign Up" class="btn">
        </form>
    </main> 
</body>
</html>
