body{
    margin: 0px;
    padding: 0px;
    background-color: #444343;
    overflow-x: hidden;
}

header{
    padding: 5px;
    width: 100vw;
    background-color: #BBBBBB;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 280px;
    
}

.title{
    display: flex;
    flex-direction: row;
    font-size: 40px;
}

.about{
    width: 360px;
    font-size: 24px;
    text-align: justify;
}


.read{
    position: absolute;
    width: 200px;
}

.read-form{
    position: absolute;
    right: 50%;
    left: 44%;
}

.direction{
    position: absolute;
    display: flex;
    flex-direction: row;
    gap: 10px;
    top: 230px;
}

.direct {
    padding: 10px;
    color: #ccc;
    display: inline-block; 
}


.direct a {
    text-decoration: none; 
    color: inherit; 
    font-weight: bold; 
}


.direct.signup {
    background-color: #C90707;
}

.direct.login {
    background-color: #424040;
}
    

.books{
    margin-top: 50px;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: fit-content;
    gap: 70px;
    justify-content: center;
}

.books  h1 {
    font-size: 20px;
    width: 250px;
    color: #edebeb;
}

.book {
    position: relative; 
    width: 300px; 
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.add-to-list-form {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.icon-button {
    background: none;
    border: none;
    cursor: pointer;
    color: white;
}

.form{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center ;
}

.form-user{
    background-color: #BBBBBB;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
    padding: 20px;
    border-radius: 8px;
}


.form-user input[type="text"],
.form-user input[type="password"] {
    width: 80%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    transition: border 0.3s ease-in-out;
}


.form-user input[type="text"]:focus,
.form-user input[type="password"]:focus {
    border: 1px solid #C90707;
    outline: none;
    box-shadow: 0px 0px 5px rgba(137, 0, 0, 0.5);
}


.btn {
    background-color: #C90707;
    color: white;
    border: none;
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}


.btn:hover {
    background-color: #ed0202;
    transform: translateY(-3px);
    box-shadow: 0px 5px 15px rgba(141, 0, 33, 0.3);
}


.review-main {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    min-height: 100vh; 
    gap: 20px; 
}

.review {
    display: flex;
    flex-direction: row;
    background-color: #e0e0e0; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    gap: 17px;
    width: 80%; 
    max-width: 800px;
}

.review-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    gap: 10px; 
    width: 80%; 
    max-width: 800px;
}


.review-box .review-box,
.review-bok {
    flex: 1; 
    padding: 10px;
}

.review-box h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.review-box img {
    display: block;
    margin-top: 10px;
    border-radius: 5px;
}

.review-box h2 {
    font-size: 30px;
}

.review-box h3 {
    font-size: 18px;
    margin-top: 60px;
}

.review-box p {
    font-size: 20px;
    line-height: 1.5;
}

.form-review{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.update-box {
    display: flex;
    flex-direction: column;
    background-color: #e0e0e0; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    gap: 17px;
    width: 80%; 
    max-width: 800px;
    align-items: center;
}

.update-box img {
    width: 300px;
    height: auto;
    border-radius: 5px;
}

.update-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.update-form input[type="number"],
.update-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.update-form textarea {
    height: 200px;
    width: 400px;
    resize: none; 
}

.update-form input[type="submit"] {
    padding: 10px;
    border: none;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
}

.update-form input[type="submit"]:hover {
    background-color: #45a049;
}