body{
    margin: 0px;
    padding: 0px;
    background-color: #444343;
    overflow-x: hidden;
}

header{
    padding: 5px;
    width: 100vw;
    background-color: #BBBBBB;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 240px;
    
}

.title{
    display: flex;
    flex-direction: row;
    font-size: 40px;
}

.about{
    width: 360px;
    font-size: 24px;
    text-align: justify;
}


.read{
    position: absolute;
    width: 200px;
}